@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient text-white">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            
                
                <div class="mb-3 row">
                    <label class="form-label">Category Name</label>
                    <input asp-for="Name" class="form-control" id="name" name="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="mb-3 row">
                    <label class="form-label">Display Order</label>
                    <input asp-for="DisplayOrder" class="form-control" id="name" name="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>

                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update  <i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List <i class="bi bi-arrow-left-circle-fill"></i></a>
                    </div>
                </div>


            
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
