@using BookStore.Models.Models
@model List<Product>

<div class="card shadow-lg border-0 mt-4">
    <div class="card-header bg-secondary text-white">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-3">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container mb-4">
            <div class="row">
                <div class="col-12 text-end">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                        Create New Product
                        <i class="bi bi-plus-circle-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive mb-4">
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        @* <th>Description</th> *@
                        <th>ISBN</th>
                        <th>List Price</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th></th>
                        @* <th>Price100</th>
                        <th>Actions</th> *@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js" type="text/javascript"></script>
}
